.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 15px 20px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease; 
}
a {
  color: black;
  text-decoration: none;
}
.dark_cart {
  display: flex;
  justify-content: space-between;
  gap: 13px
}
li.dark {
  color: white;
}
.navbar.light {
  background-color: #f1f1f1;

}

.navbar.dark {
 background-color: #444;
  color: white; 
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none; 
  display: flex; 
  gap: 20px; 
  margin: 0;
}

.navbar-link {
  text-decoration: none; 
  color: inherit; 
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #007bff; 
}

.navbar-cart {
  display: flex;
  align-items: center; 
  position: relative; 
}

.navbar-cart-link {
  display: flex;
  align-items: center; 
  color: inherit; 
  text-decoration: none; 
}
.bscart {
  font-size: 24px; 
  position: relative;
}

.total {
  position: absolute; 
  top: -5px; 
  right: -10px; 
  background-color: red; 
  color: white; 
  border-radius: 50%; 
  padding: 5px 8px; 
  font-size: 12px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.theme-button {
  background: none; 
  border: none; 
  cursor: pointer; 
  color: inherit; 
  font-size: 18px; 
  transition: color 0.3s ease; 
}

.theme-button:hover {
  color: #007bff; 
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .navbar-links {
    flex-direction: column; 
    gap: 10px; 
  }
}
