.container_item {
  max-width: 600px;
  margin: 12px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.container_details.dark {
  background-color: #444; 
  border: 1px solid #555; 
  color: white; 
  margin-top: 0;
  margin-bottom: 0px;
  padding: 4px;
}
.product-category.dark,.product-price.dark,.product-description.product-price.dark{
  color: white;
}

.product-title {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333; 
}

.product-title.dark {
  color: white; 
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.product-description {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #555; 
}

.product-description.dark {
  color: #ddd; 
}

.product-category {
  font-size: 1.1em;
  margin-bottom: 10px;
  color: #555; 
}

.product-category.dark {
  color: #ddd; 
}

.product-price {
  font-size: 1.3em;
  color: #e74c3c; 
}

.product-price.dark {
  color: #ff7f50; 
}

.back-button {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #2980b9;
}

